
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}


body {
    background: url(capa.png),
                url(ruido.png),
                linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}


/* 
--------------- Barra de Navegação  */

nav.navbar-transparente {
    background: rgba(0,0,0,0.6);
    padding: 15px 0px;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    transition: 0.3s;
    color: #9bf0e1;
}

button#navbar {
    border: 1px solid white;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/* Capa 
------------------------ */

.capa {
    text-align: center;
}

a.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a.btn-roxo {
    background: #7c26f8;
}


a.btn-roxo:hover {
    background: #6207e3;
    color: white;

}

a.btn-branco {
    border: 2px solid white;
    padding: 7.5px 32px;
}


a.btn-branco:hover {
    background:white;
    color: black;

}

/* Estrutura de Conteúdos
------------------------------- */

#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#servicos h2,h3 {
    color: #7c25f8;
}

#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

#recursos h3 {
    color: #9bf0e1
}

#recursos h2 {
    color: white;
}


.albuns {
    padding: 10px 0;
}

.rotacionar {
    transform: rotate(30deg);
    padding-left: 80px;
    
}
/* Rodapé
---------------------- */
footer {
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

/* Tipografia
------------------- */

.capa h1 {
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

.serv h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}


.serv h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
    
}

#recursos h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}


#recursos h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
    
}



/* Extra small devices */
@media (max-width: 575.99px) {
    .btn-custom {
        margin: 10px 15px;
    }

    footer img {
        padding-bottom: 15px;
    }
    footer .navbar-nav {
        margin-bottom: 10px;
    }
}
/* Small Devices */
@media (min-width: 576px) and (max-width: 767.99px) {
    .capa h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991.99px)  {
    .capa h1 {
        font-size: 4em;
    }
}
/* Large devices */
@media (min-width: 992px) and (max-width: 1199.99px) {
    .capa h1 {
        font-size: 5em;
    }
}
/* Extra large devices */
@media (min-width: 1200px) {
   .capa h1 {
        font-size: 6em;
    }

}